---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flair JS | Home">
<nav class="container-fluid w-100 pt-2"> <img src="/bgfavicon.svg" width="60px">
<button class="float-end btn pt-2"> Docs</button>
<button class="float-end btn pt-2"> About</button>
<button class="float-end btn pt-2"> Showcase</button>

<img src="https://static.pokemonpets.com/images/monsters-images-800-800/4198-Umbreon-Space.png">
</nav>
</Layout>
